html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
*     Header
*/
.header {
  display: flex;
  color: #fff;
  font-size: 1.5em;  
  letter-spacing: .05em;
  background: #2196f3;
  height: 3em;
  justify-content: space-between;
  padding: 0 2em;
  box-shadow: 0 .2em .3em rgba(0, 0, 0, .3);
}

.header div {
  display: flex;
  align-items: center;
}

#sidebar-button {
  color: inherit;
  background: inherit;
}

#sidebar-button:hover {
  cursor: pointer;
}

/*  Account   */
#ferda,
#user {
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
  bottom: 0.07em;
  margin-left: 1em;
}

#account,
#logout {
  cursor: pointer;
}

#user {
  font-size: .85em;
  text-transform: uppercase;
  margin-left: 0;
}

.icon {
  font-size: 1.5em;
  margin: 0 .5em;
}

/*  Account-Info  */
#account-info {
  display: none;
  position: fixed;
  color: #000;
  flex-direction: column;
  top: 2.6em;
  right: 2em;
  width: 16em;
  background: #fff;
}

#account-info section {
  display: flex;
  align-items: center;
  font-size: .8em;
  height: 3.5em;
  width: 100%;
}

#account-info section:first-child {
  border-bottom: 1px solid #e0e0e0;;
}

#account-info .icon,
#admin {
  color: grey;
}

#account-info .icon {
  font-size: 2em;
}

#account-info section p {
  margin: 0;
}

/*
*     Sidebar
*/
.sidebar {
  display: none;
  position: fixed;
  width: 13%;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
}

.sidebar div {
  text-transform: uppercase;
  font-weight: 600;
  color: grey;
  padding: 1em 2em;
  border-bottom: 1px solid #e0e0e0;
}

#applications {
  margin: 0;
  padding: 0;
}

#applications li {
  display: flex;
  list-style-type: none;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .04em;
  padding: .5em 2em;
  align-items: center;
  background: gold;
}

#globe {
  color: grey;
  font-size: 1.75em;
  margin-right: 1em;
}

/*
*     main
*/
main {
  max-width: 70%;
  margin: 0 auto;
}

#moved {
  margin-left: 20%;
}

/*
*     Head
*/

/*  Switch  */
.switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  top: -5px;
  left: -2px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
  box-shadow: -0.05em 0.1em 0.2em 0.1em rgb(0, 0, 0, .3);
}

input:checked + .slider {
  background-color: #77bef6;
}

input:checked + .slider:before {
  background: #2196f3;
  box-shadow:  0.05em 0.1em 0.2em 0.1em rgb(0, 0, 0, .3);
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

/*
*     Body
*/
#pass {
  display: none;
  font-style: italic;
}

#show-btn {
  cursor: pointer;
  color: #fff;
  padding: 0.5em 1.5em;
  background: #2196f3;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 0 .1em .3em rgba(0, 0, 0, .3);
}

#state-flags ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.active {
  color: #8bd678;
}

.non-active {
  color: #eb4778;
}

#lists {
  display: flex;
  justify-content: space-between;
}